# project folders
DIR_PROJ=/mnt/jin/group/junxi/snmctseq_cassie/snmct_seq_mbd2output

# raw fastq locations
FASTQ_ROOT=/mnt/jin/group/cassie/Cassie/251205_Novaseq/CP_fastq_files

# reference genome (mouse)
REF_DIR=/mnt/jin/group/reference/mouse_gencode_vM38
REF_FASTA=${REF_DIR}/GRCm39.primary_assembly.genome.fa
REF_GTF=${REF_DIR}/gencode.vM38.primary_assembly.annotation.gtf
# genome preparation behavior
RUN_GENOME_PREP=false   # or false

# STAR index location
STAR_INDEX=${REF_DIR}/STAR149

# pipeline scripts
PIPELINE_DIR=/gpfs/home/junxif/xin_lab/LuoLab_Pipeline_Custom_junxi

# metadata directory 
METADATA_DIR=/gpfs/home/junxif/xin_lab/LuoLab_Pipeline_Custom_junxi/metadata
RATIO_CUTOFF=2.0    #ratio of gRNA count of D1/ST to call it D1 vs ST

if [ -f /etc/profile.d/modules.sh ]; then
    source /etc/profile.d/modules.sh
fi

# Load modules
module load star/2.7.9a
module load bismark/0.15.0
module load bowtie2/2.4.2
module load fastp/0.20.1
module load samtools/1.15.1
module load python/3.8.3
module load perl/5.16.3